
<style>

div.footer {
border-top: 1.7px solid silver;
padding-top: 10px;
}

p.footer {
text-align: center;
font-family: "Ayuthaya";
font-size: 12px;
color: silver;
line-height: 1em;
}

</style>
<body>

<div class="footer">
<p class="footer">This is the personal website where I post my miscellaneous thoughts and photography.</p>
<p class="footer">If you have any question, please contact me through email at <a href = "mailto:veronicahan98@gmail.com" target = "_blank">Veronicahan98</a>.</p>
<p class="footer"> Thanks for visiting. Have a nice day:)</p>
</div>

</body>
</html>
